<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.DeviceTypeMapper">

    <resultMap type="com.ruoyi.device.domain.DeviceType" id="DeviceTypeResult">
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
        <result property="typeRemark"    column="type_remark"    />
        <result property="typeStatus"    column="type_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <insert id="insertDeviceType" parameterType="com.ruoyi.device.domain.DeviceType" useGeneratedKeys="true" keyProperty="typeId">
        insert into device_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != '' ">type_name,</if>
            <if test="typeRemark != null and typeRemark != '' ">type_remark,</if>
            <if test="typeStatus != null and typeStatus != '' ">type_status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != '' ">#{typeName},</if>
            <if test="typeRemark != null and typeRemark != '' ">#{typeRemark},</if>
            <if test="typeStatus != null and typeStatus != '' ">#{typeStatus},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updatBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>
<delete id="deleteDeviceTypeByIds" >
    delete from device_type where type_id in
<foreach collection="array" item="id" open="(" separator="," close=")">
    #{id}
</foreach>
</delete>
    <update id="updateDeviceType" parameterType="DeviceType">
        update device_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null and typeName != '' ">type_name = #{typeName},</if>
            <if test="typeRemark != null and typeRemark != '' ">type_remark =#{typeRemark},</if>
            <if test="typeStatus != null and typeStatus != '' ">type_status = #{typeStatus},</if>
        </trim>
        where type_id = #{typeId}
    </update>
    <select id="selectDeviceTypeById" parameterType="Long" resultMap="DeviceTypeResult">
        select * from device_type
        where type_id = #{typeId}
    </select>
    <sql id="selectDeviceTypeVo">
        select * from device_type
    </sql>
    <select id="selectDeviceTypeList" parameterType="DeviceType" resultMap="DeviceTypeResult">
        select * from device_type
        <where>
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="typeStatus != null "> and type_status = #{typeStatus}</if>
        </where>
    </select>

</mapper>